.game-field {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 515px) and (min-width: 360px) {
  .game-field {
    width: 80%;
  }
}
