.secret-word {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .letter_word {
    display: inline;
    border-bottom: 3px solid #393939;
    color: transparent;
    font-size: 210%;
  }
  .letter-known {
    color: #393939;
    border-bottom: 3px solid transparent;
    font-family: "Roboto";
    font-size: 210%;
    font-style: normal;
  }
}
